* {
  margin: 0;
  padding: 0;
}
.container-content {
  /* margin-top: 120px; */
  margin-left: 20px;
  margin-right: 20px;
}

.card-shadow {
  /* box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2); */
  box-shadow: 0 8px 6px -6px black;
  border-radius: 1.5rem;
}

.img-border-radius {
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  height: 200px;
}

.container-button {
  padding-top: 20px;
}

.btn-add {
  padding: 18px 32px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 2rem;
  border: none;
  margin-bottom: 10px;
  outline: none;
  cursor: pointer;
  width: 100%;
  background-color: #828282;
  color: #fff;
}

.btn-add:hover {
  box-shadow: 0 8px 6px -6px black;
}

.btn-payment {
  display: flex;
  justify-content: center;
}

.info-payment {
  padding-right: 10px;
  padding-left: 10px;
  font-size: 18px;
  font-weight: 600;
}

.card-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-info .info-title {
  width: 100%;
  font-size: 1.8em;
  font-weight: 600;
  text-align: center;
}

.card-info .info-price-quanty {
  display: flex;
  justify-content: center;
  width: 100%;
}

.card-info .info-price-quanty .info-price,
.info-quanty {
  color: red;
  display: flex;
  align-items: center;
  font-size: 1.6em;
  justify-content: center;
  font-weight: 600;
  width: 50%;
}

.input-control {
  margin: 10px;
  text-align: center;
  border: 1px solid #000;
  border-radius: 2rem;
  outline: none;
  width: 100%;
}

.test-scroll {
  overflow-y: scroll;
}

.container-cart-count {
  padding: 10px;
}

/*******MODAL*******/
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

.modal-btn:checked:after,
.modal-btn:not(:checked):after {
  position: fixed;
  top: 70px;
  right: 20px;
  z-index: 1033;
  width: 40px;
  border-radius: 3px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  background-color: transparent;
  color: #102770;
  content: "X";
  opacity: 0;
  pointer-events: none;
  border: 1px solid;
  transform: scale(0.6);
  transition: opacity 300ms 300ms ease, transform 300ms 250ms ease;
}

.modal-btn:checked:hover:after,
.modal-btn:not(:checked):hover:after {
  background-color: #000;
  color: #fff;
}

.modal-btn:checked:after {
  transition: opacity 300ms 300ms ease, transform 300ms 300ms ease,
    background-color 250ms linear, color 250ms linear;
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.modal {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1031;
  overflow-x: hidden;
  background-color: rgba(31, 32, 41, 0.75);
  pointer-events: none;
  opacity: 0;
  transition: opacity 300ms 700ms ease;
  padding: 10px;
}

.modal-btn:checked ~ .modal {
  pointer-events: auto;
  opacity: 1;
  transition: all 300ms ease-in-out;
}

.modal-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 1rem;
  overflow: hidden;
  padding-bottom: 20px;
  background-color: #fff;
  align-self: center;
  box-shadow: 0 12px 25px 0 rgba(199, 175, 189, 0.25);
  opacity: 0;
  transform: scale(0.6);
  transition: opacity 300ms 300ms ease, transform 300ms 250ms ease;
}

.modal-wrap .modal-head {
  display: block;
  width: 100%;
  height: 100px;
  background-color: #edcb87;
}

.modal-wrap .modal-body {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  overflow-y: scroll;
}

.modal-wrap .modal-footer {
  border: none;
}

.modal-btn:checked ~ .modal .modal-wrap {
  opacity: 1;
  transform: scale(1);
  transition: opacity 250ms 500ms ease, transform 350ms 500ms ease;
}
/***ORDER**/
.card-padding {
  padding: 0;
  height: 120px;
}

.container-order {
  display: flex;
  width: 100%;
}

.container-img {
  width: 50%;
  margin: 0;
  padding: 0;
}

.container-order-detall {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.img-product {
  width: 100%;
  height: 120px;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}

.info-total {
  color: red;
  font-size: 2em;
  font-weight: 600;
}

.info-detalle {
  font-weight: 600;
}

.img-svg {
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: red;
}

.img-svg:hover {
  color: red;
}

#cartProductList {
  width: 100%;
  height: 450px;
}

/***********FORM**********/

.container-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 20px;
}

.card-form {
  width: 100%;
  padding: 4rem 2rem;
  border-radius: 2rem;
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
}

.group-form {
  margin-bottom: 1rem;
}

.form-input {
  width: 100%;
  border: 1px solid #dadce0;
  border-radius: 2rem;
  height: 45px;
}

/*************CATEGORY*****************/
.container-imgen {
  display: flex;
  justify-content: center;
  overflow-x: scroll;
  height: 125px;
  margin-top: 110px;
  margin-bottom: 20px;
}

.container-imgen .item {
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.container-imgen .item:first-child {
  margin-right: 470px;
}

.container-imgen .item .image-category {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  box-shadow: 0 8px 6px -6px black;
}

@media (min-width: 768px) and (min-width: 992px) {
  .container-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .card-width {
    width: 23%;
    margin: 0 5px;
  }

  .container-imgen {
    overflow-x: hidden;
  }

  .container-imgen .item:first-child {
    margin-right: 0;
  }
}
