* {
  margin: 0;
  padding: 0;
}

.container-footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  background-color: #212529;
}

.container-footer .footer-item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.container-footer .footer-image {
  width: 40px;
  height: 40px;
  margin-bottom: 15px;
  font-weight: bold;
  cursor: pointer;
}

.container-content {
  margin-left: 20px;
  margin-right: 20px;
}

.card-shadow {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
  border-radius: 1.5rem;
  border: 0;
}

.card-shadow:hover {
  box-shadow: 0 8px 6px -6px black;
  transform: translateY(-10px);
  transition: all 0.2s ease;
}

.card-shadow-2:hover {
  transform: translateY(-2px);
}

.img-border-radius {
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  height: 200px;
}

.container-button {
  padding-top: 5px;
  display: flex;
  flex-direction: column;
}

.btn-add {
  padding: 5px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 2rem;
  border: none;
  margin-bottom: 10px;
  outline: none;
  cursor: pointer;
  width: 100%;
  background-color: #343a40;
  color: #fff;
}

.btn-secondary-product {
  background-color: #fff;
  border: 1px solid #828282;
  color: #000;
}

.btn-add:hover {
  box-shadow: 0 8px 6px -6px black;
}

.btn-payment {
  display: flex;
  justify-content: center;
}

.info-payment {
  padding-right: 10px;
  padding-left: 10px;
  font-size: 18px;
  font-weight: 600;
}

.card-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-info .info-title {
  width: 100%;
  font-size: 1.8em;
  font-weight: 600;
  text-align: center;
}

.card-info .info-price-quanty {
  display: flex;
  justify-content: center;
  width: 100%;
}

.card-info .info-price-quanty .info-price,
.info-quanty {
  color: red;
  display: flex;
  align-items: center;
  font-size: 1.6em;
  justify-content: center;
  font-weight: 600;
  width: 50%;
}

.input-control {
  margin: 10px;
  text-align: center;
  border: 1px solid #000;
  border-radius: 2rem;
  outline: none;
  width: 100%;
}

.test-scroll {
  overflow-y: scroll;
}

.container-cart-count {
  padding: 5px;
  display: flex;
}

/*******MODAL*******/

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

.modal-btn:checked:after,
.modal-btn:not(:checked):after {
  position: fixed;
  top: 70px;
  right: 20px;
  z-index: 1033;
  width: 40px;
  border-radius: 3px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  background-color: #fff;
  color: #102770;
  content: "X";
  opacity: 0;
  pointer-events: none;
  transform: scale(0.6);
  transition: opacity 300ms 300ms ease, transform 300ms 250ms ease;
}

.modal-btn:checked:hover:after,
.modal-btn:not(:checked):hover:after {
  background-color: #000;
  color: #fff;
}

.modal-btn:checked:after {
  transition: opacity 300ms 300ms ease, transform 300ms 300ms ease,
    background-color 250ms linear, color 250ms linear;
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.modal {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1031;
  overflow-x: hidden;
  background-color: rgba(31, 32, 41, 0.75);
  pointer-events: none;
  opacity: 0;
  transition: opacity 300ms 700ms ease;
  padding: 10px;
}

.modal-btn:checked ~ .modal {
  pointer-events: auto;
  opacity: 1;
  transition: all 300ms ease-in-out;
}

.modal-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 1rem;
  overflow: hidden;
  padding-bottom: 20px;
  background-color: #fff;
  align-self: center;
  box-shadow: 0 12px 25px 0 rgba(199, 175, 189, 0.25);
  opacity: 0;
  transform: scale(0.6);
  transition: opacity 300ms 300ms ease, transform 300ms 250ms ease;
}

.modal-wrap .modal-head {
  display: block;
  width: 100%;
  height: 100px;
  background-color: #edcb87;
}

.modal-close {
  position: absolute;
  top: 35px;
}

.modal-wrap .modal-body {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  overflow-y: scroll;
}

.modal-wrap .modal-footer {
  border: none;
}

.modal-btn:checked ~ .modal .modal-wrap {
  opacity: 1;
  transform: scale(1);
  transition: opacity 250ms 500ms ease, transform 350ms 500ms ease;
}
/***CART-MODAL**/
.card-padding {
  padding: 0;
  height: 120px;
}

.container-order {
  display: flex;
  width: 100%;
}

.container-img {
  width: 40%;
  margin: 0;
  padding: 0;
}

.container-order-detall {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.detalle-head {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
}

.detalle-head .info-detalle {
  height: 30px;
  width: 80%;
  font-size: 18px;
  font-weight: 600;
}

.detalle-body {
  width: 100%;
  display: flex;
  padding: 0 5px;
}

.detalle-body .detalle-item {
  width: 100%;
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
}

.detalle-body .detalle-item .head-info {
  font-size: 12px;
}

.detalle-body .detalle-item .body-info {
  font-weight: 600;
}

.detalle-body .border-separador {
  border-right: 1px dashed #c8c8c8;
  border-left: 1px dashed #c8c8c8;
}

.img-product {
  width: 100%;
  height: 120px;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}

.img-svg {
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: red;
}

.img-svg:hover {
  color: red;
}

#cartProductList {
  width: 100%;
  height: 450px;
}

/***********LOGIN-FORM**********/

.container-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-form-login {
  height: 100vh;
}

.card-form {
  position: relative;
  width: 100%;
  padding: 4rem 2rem;
  border-radius: 2rem;
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
}

.container-form {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  padding: 4rem 2rem;
}

.form-title {
  font-weight: 400;
  margin-bottom: 3rem;
  text-align: center;
}

.group-form {
  position: relative;
  height: 48px;
  margin-bottom: 1rem;
}

.group-textarea {
  height: 100px;
}

.group-form .link {
  text-align: center;
}

.form-input {
  width: 100%;
  height: 100%;
  border: 1px solid #dadce0;
  border-radius: 2rem;
  padding: 1.2rem;
  font-size: 1rem;
  outline: none;
  background: none;
  z-index: 1;
}

.label-control {
  position: absolute;
  top: 0.9rem;
  left: 1rem;
  background-color: #fff;
  padding: 0 0.25rem;
  color: #80868b;
  font-size: 1rem;
  transition: 0.3s;
}

.form-input:focus + .label-control {
  top: -0.5rem;
  left: 0.9rem;
  font-size: 0.75rem;
  font-weight: 500;
  z-index: 10;
}

.form-input:not(:placeholder-shown).form-input:not(:focus) + .label-control {
  top: -0.5rem;
  left: 0.8rem;
  z-index: 10;
  font-weight: 500;
  font-size: 0.75rem;
}

.form-input:focus {
  border: 1px solid #fe7b12;
}

.btn-login {
  display: block;
  border-radius: 2rem;
  padding: 0 32px;
  height: 100%;
  margin-left: auto;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  transition: 0.3s;
}

.btn-login:hover {
  background-color: rgba(0, 0, 0);
  box-shadow: 0 8px 6px -6px black;
}

.container-nav {
  display: flex;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav .nav-item {
  flex: auto;
  text-align: center;
  padding: 18px 32px;
  cursor: pointer;
  background-color: #dbdbdb;
  font-weight: 600;
}

.nav .nav-item:hover {
  background-color: #fff;
}

.nav .nav-item:active {
  background-color: #fff;
}

.container-form-register {
  padding: 1rem;
  overflow-y: scroll;
  height: 450px;
}

/*************CATEGORY*****************/
.container-imgen {
  display: flex;
  justify-content: center;
  overflow-x: scroll;
  height: 125px;
  margin-top: 110px;
  margin-bottom: 20px;
}

.container-imgen .item {
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.container-imgen .item:first-child {
  margin-right: 470px;
}

.container-imgen .item .image-category {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
}

.container-imgen .item .image-category:hover {
  box-shadow: 0 8px 6px -6px black;
  transform: translateY(-1px);
  transition: all 0.2s ease;
}

/***********VIEW DETAIL*********/
.container-view-detail {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header-view-detail {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-view-detail .view-detail-title {
  font-size: 1.8em;
  font-weight: 600;
}

.body-view-detail {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.body-view-detail-img,
.view-detail-img {
  width: 100%;
  height: 200px;
}

.body-view-detail-detail {
  width: 100%;
  height: 200px;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
}

.body-view-detail-detail .detail-title {
  font-weight: 600;
}

.body-view-detail-detail .detail-text {
  text-align: justify;
}

/******************************/
.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
  line-height: 40px;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: -150px;
  top: 40px;
  background-color: #f9f9f9;
  height: auto;
  min-width: 200px;
  border-radius: 1.5rem;
  box-shadow: 0 0 10px rgba(92, 99, 105, 0.2);
  padding: 16px 10px;
  z-index: 1;
}

.dropdown-content .dropdown-content-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  cursor: pointer;
}

.dropdown-content .dropdown-content-item:hover {
  font-weight: 600;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media (min-width: 768px) and (min-width: 992px) {
  .container-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .container-button {
    flex-direction: row;
  }

  .card-width {
    width: 23%;
    margin: 0 5px;
  }

  .container-imgen {
    overflow-x: hidden;
  }

  .container-imgen .item:first-child {
    margin-right: 0;
  }

  .btn-login {
    width: auto;
  }

  .img-icon {
    width: 30px;
    height: 30px;
  }

  /******************************/
  .modal-desktop {
    max-width: 600px;
    height: 400px;
  }
  /************CARD MODAL***********/
  .body-view-detail {
    flex-direction: row;
  }

  .body-view-detail-img,
  .view-detail-img {
    height: 250px;
  }

  /*************FOOTER************/
  .container-footer {
    flex-direction: row;
  }

  .container-footer .footer-item {
    width: 10%;
  }
}
/*******************/
